*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/androidTest/java/com/akshaybosamiya/demoespresso/basictest
/app/src/androidTest/java/com/akshaybosamiya/demoespresso/custommatcher
/app/src/androidTest/java/com/akshaybosamiya/demoespresso/idlingresource
/app/src/androidTest/java/com/akshaybosamiya/demoespresso/intent

